<script>
function addressExplorer() {
    return {
        tab: 'transactions-out',
        transactionsOut: [],
        transactionsIn: [],
        tokens: [],
        objects: [],
        pools: [],
        claims: [],
        allowances: [],
        existing: [],
        address: gup('address'),
        depleted: {},
        init() {
            this.loadTransactionsOut()
        },
        loadTransactionsOut() {
            if (this.depleted.transactionsOut) return
            var self = this
            var last = this.transactionsOut.length ? '&signature='+this.transactionsOut.slice(-1)[0].signature+'&created='+this.transactionsOut.slice(-1)[0].created : ''
            ajax(INTERFACE+'/transactions?from='+this.address+'&extended=1&sort=DESC'+last, null, function(data) {
                data = JSON.parse(data)
                if (!data.length) self.depleted.transactionsOut = true
                self.transactionsOut = self.transactionsOut.concat(data)
            })
        },
        loadTransactionsIn() {
            if (this.depleted.transactionsIn) return
            var self = this
            var last = this.transactionsIn.length ? '&signature='+this.transactionsIn.slice(-1)[0].signature+'&created='+this.transactionsIn.slice(-1)[0].created : ''
            ajax(INTERFACE+'/transactions?to='+this.address+'&extended=1&sort=DESC'+last, null, function(data) {
                data = JSON.parse(data)
                if (!data.length) self.depleted.transactionsIn = true
                self.transactionsIn = self.transactionsIn.concat(data)
            })
        },
        loadTokens() {
            if (this.depleted.tokens) return
            var self = this
            var last = this.tokens.length ? '&token='+this.tokens.slice(-1)[0].token+'&amount='+this.tokens.slice(-1)[0].amount : ''
            ajax(INTERFACE+'/balances?address='+this.address+'&extended=1&sort=DESC'+last, null, function(data) {
                data = JSON.parse(data)
                if (!data.length) self.depleted.tokens = true
                self.tokens = self.tokens.concat(data.filter(d => d.amount >= 0 && !self.existing.includes(d.token)))
                self.objects = self.objects.concat(data.filter(d => d.amount == -1 && !self.existing.includes(d.token)).reverse())
                self.existing = self.existing.concat(data.map(d => d.token))
            })
        },
        loadObjects() {
            if (this.depleted.objects) return
            var self = this
            var last = this.objects.length ? '&token='+this.objects.slice(-1)[0].token+'&amount='+this.objects.slice(-1)[0].amount : ''
            ajax(INTERFACE+'/balances?address='+this.address+'&extended=1&sort=ASC'+last, null, function(data) {
                data = JSON.parse(data)
                if (!data.length) self.depleted.objects = true
                self.tokens = self.tokens.concat(data.filter(d => d.amount >= 0 && !self.existing.includes(d.token)))
                self.objects = self.objects.concat(data.filter(d => d.amount == -1 && !self.existing.includes(d.token)).reverse())
                self.existing = self.existing.concat(data.map(d => d.token))
            })
        },
        loadPools() {

        },
        loadClaims() {

        },
        loadAllowances() {

        }
    }
}
</script>

<div x-data="addressExplorer()">
    <div class="bg-black rounded-2xl px-6 pt-2 mb-2 text-sm font-light text-gray-200">
        <div class="flex">
            <div @click="tab = 'transactions-out', !transactionsOut.length ? loadTransactionsOut() : ''" :class="{'border-pink-700': tab == 'transactions-out'}" class="inline border-b-4 border-gray-900 hover:border-pink-700 px-4 py-2 cursor-pointer">Transactions Out</div>
            <div @click="tab = 'transactions-in', !transactionsIn.length ? loadTransactionsIn() : ''" :class="{'border-pink-700': tab == 'transactions-in'}" class="inline border-b-4 border-gray-900 hover:border-pink-700 px-4 py-2 cursor-pointer">Transactions In</div>
            <div @click="tab = 'tokens', !tokens.length ? loadTokens() : ''" :class="{'border-pink-700': tab == 'tokens'}" class="inline border-b-4 border-gray-900 hover:border-pink-700 px-4 py-2 cursor-pointer">Tokens</div>
            <div @click="tab = 'objects', !objects.length ? loadObjects() : ''" :class="{'border-pink-700': tab == 'objects'}" class="inline border-b-4 border-gray-900 hover:border-pink-700 px-4 py-2 cursor-pointer">NFTs</div>
            <div @click="tab = 'pools', !pools.length ? loadPools() : ''" :class="{'border-pink-700': tab == 'pools'}" class="inline border-b-4 border-gray-900 hover:border-pink-700 px-4 py-2 cursor-pointer">Pools</div>
            <div @click="tab = 'claims', !claims.length ? loadClaims() : ''" :class="{'border-pink-700': tab == 'claims'}" class="inline border-b-4 border-gray-900 hover:border-pink-700 px-4 py-2 cursor-pointer">Claims</div>
            <div @click="tab = 'allowances', !allowances.length ? loadAllowances() : ''" :class="{'border-pink-700': tab == 'allowances'}" class="inline border-b-4 border-gray-900 hover:border-pink-700 px-4 py-2 cursor-pointer">Allowances</div>
        </div>
    </div>

    <div x-cloak x-show="tab == 'transactions-out'" class="bg-black rounded-2xl py-4 mb-4 lg:mb-12">
        <p class="text-lg py-2 px-6 text-gray-100">Transactions Out</p>

        {% set transactionsCollection = 'transactionsOut' %}
        {% include "src/blocks/global/transactions.html" %}

        <div x-show="!depleted.transactionsOut" class="pt-6 flex justify-center text-sm">
            <span @click="loadTransactionsOut()" class="cursor-pointer underline w-full text-center text-sm text-gray-100 py-2 hover:bg-gray-900 rounded">Load more</span>
        </div>
    </div>

    <div x-cloak x-show="tab == 'transactions-in'" class="bg-black rounded-2xl py-4 mb-4 lg:mb-12">
        <p class="text-lg py-2 px-6 text-gray-100">Transactions In</p>

        {% set transactionsCollection = 'transactionsIn' %}
        {% include "src/blocks/global/transactions.html" %}

        <div x-show="!depleted.transactionsIn" class="pt-6 flex justify-center text-sm">
            <span @click="loadTransactionsIn()" class="cursor-pointer underline w-full text-center text-sm text-gray-100 py-2 hover:bg-gray-900 rounded">Load more</span>
        </div>
    </div>

    
    <div x-cloak x-show="tab == 'tokens'" class="bg-black rounded-2xl py-4 mb-4 lg:mb-12">
        <p class="text-lg py-2 px-6 text-gray-100">Token Balances</p>

        {% set tokensCollection = 'tokens' %}
        {% include "src/blocks/global/tokens.html" %}        

        <div x-show="!depleted.tokens" class="pt-6 flex justify-center text-sm">
            <span @click="loadTokens()" class="cursor-pointer underline w-full text-center text-sm text-gray-100 py-2 hover:bg-gray-900 rounded">Load more</span>
        </div>
    </div>

    <div x-cloak x-show="tab == 'objects'" class="bg-black rounded-2xl py-4 mb-4 lg:mb-12">
        <p class="text-lg py-2 px-6 text-gray-100">NFT Balances</p>

        {% set objectsCollection = 'objects' %}
        {% include "src/blocks/global/objects.html" %}
        

        <div x-show="!depleted.objects" class="pt-6 flex justify-center text-sm">
            <span @click="loadObjects()" class="cursor-pointer underline w-full text-center text-sm text-gray-100 py-2 hover:bg-gray-900 rounded">Load more</span>
        </div>
    </div>
</div>