<script>
function addressExplorer() {
    return {
        resource: 'transfers',
        resourceFilter: 'transfers',
        transfersFilter: 'incoming',
        claimsFilter: 'holding',
        allowancesFilter: 'spendable',
        transfers: [],
        transfersOutgoing: [],
        transfersIncoming: [],
        transactions: [],
        tokens: [],
        pools: [],
        claims: [],
        claimsIssued: [],
        claimsHolding: [],
        pools: [],
        allowances: [],
        allowancesGranted: [],
        allowancesSpendable: [],
        balances: [],
        address: gup('address'),
        depleted: {},
        methods: {
            'transfersIncoming': Xeta.transfer.scanToCreated,
            'transfersOutgoing': Xeta.transfer.scanFromCreated,
            'transactions': Xeta.transaction.scanSenderCreated,
            'tokens': Xeta.token.scanOwnerCreated,
            'pools': Xeta.pool.scanCreatorCreated,
            'claimsHolding': Xeta.claim.scanHolderCreated,
            'claimsIssued': Xeta.claim.scanIssuerCreated,
            'balances': Xeta.balance.scanAddressAmount,
            'allowancesGranted': Xeta.allowance.scanAddressCreated,
            'allowancesSpendable': Xeta.allowance.scanSpenderCreated,
        },
        inputs: {
            'transfersIncoming': 'to',
            'transfersOutgoing': 'from',
            'transactions': 'sender',
            'tokens': 'owner',
            'pools': 'creator',
            'claimsHolding': 'holder',
            'claimsIssued': 'issuer',
            'balances': 'address',
            'allowancesGranted': 'address',
            'allowancesSpendable': 'spender',
        },
        init() {
            var self = this
            document.addEventListener('resourceLoaded', function (e) {
                var address = Alpine.store('address')
                try { if (address.token.meta.default) self.resource = address.token.meta.default } catch (e) {}
                self.change(self.resource)
            })
        },
        change(resource) {
            this.resource = resource
            var filter = this[resource+'Filter']
            this.resourceFilter = resource+(filter ? filter[0].toUpperCase()+filter.slice(1) : '')
            this.load(resource)
        },
        load(resource) {
            this[resource] = this[this.resourceFilter]
            var resourceFilter = this.resourceFilter // Static, because this.resourceFilter could change during request
            if (this.depleted[resourceFilter]) return
            var last = this[resourceFilter].length ? this[resourceFilter].slice(-1)[0] : {}
            var self = this

            this.methods[resourceFilter]({...last, ...{[this.inputs[resourceFilter]]: this.address}}, {preview: true}).then(function(data) {
                if (!data.length) self.depleted[resourceFilter] = true
                self[resourceFilter] = self[resourceFilter].concat(data)
                if (resource != resourceFilter) self[resource] = self[resourceFilter]
                if (resource == 'tokens') Grid.layout(document.getElementById('grid'), document.getElementById('tokens'))
            }).catch(function(e) {})
        },
    }
}
</script>

<div x-data="addressExplorer">
    <div class="bg-black rounded-2xl px-2 pt-2 mb-2 text-sm font-light text-gray-200 section">
        <div class="flex flex-wrap">
            <template x-for="type in (
                $store.resource == 'address' ? ['transfers', 'balances', 'tokens', 'transactions', 'pools', 'claims', 'allowances'] : $store.resource == 'pool' ? ['transfers', 'balances', 'tokens', 'claims'] : [])">
                <div @click="change(type)" :class="{'border-pink-700': resource == type}" class="inline border-b-4 border-gray-900 hover:border-pink-700 px-4 py-2 cursor-pointer capitalize" x-text="type"></div>
            </template>
        </div>
    </div>

    <div class="bg-black rounded-2xl py-4 mb-4 lg:mb-12">
        <div class="flex justify-between items-center px-6">
            <p class="text-lg py-2 text-gray-100 capitalize" x-text="resource"></p>
            <div x-cloak x-show="['transfers', 'claims', 'allowances'].includes(resource)" x-data="{active: false}" class="relative text-white text-sm">
                <span @click="active = !active" class="select-none cursor-pointer px-3 py-2 rounded-2xl text-gray-200 hover:bg-gray-800 bg-gray-900 capitalize text-xs" x-text="$data[resource+'Filter']"></span>
                <div x-cloak x-show="active" @click.away="active = false" class="absolute right-0 origin-top-right mt-2 w-32 shadow-xl rounded z-50">
                    <ul class="list-none bg-gray-900 px-2 py-2 rounded-2xl">
                        <template x-for="[key, type] in Object.entries({incoming: 'transfers', outgoing: 'transfers', issued: 'claims', holding: 'claims', granted: 'allowances', spendable: 'allowances'})">
                            <li x-cloak x-show="type == resource" @click="$data[type+'Filter'] = key, change(type), active = false" x-text="key" class="cursor-pointer py-2 rounded-2xl text-gray-200 hover:bg-gray-800 text-center capitalize text-xs"></li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>

        <div x-cloak x-show="resource == 'transfers'">{% include "src/blocks/lists/transfers.html" %}</div>
        <div x-cloak x-show="resource == 'balances'">{% include "src/blocks/lists/balances.html" %}</div>
        <div x-cloak x-show="resource == 'transactions'">{% include "src/blocks/lists/transactions.html" %}</div>
        <div x-cloak x-show="resource == 'pools'">{% include "src/blocks/lists/pools.html" %}</div>
        <div x-cloak x-show="resource == 'claims'">{% include "src/blocks/lists/claims.html" %}</div>
        <div x-cloak x-show="resource == 'allowances'">{% include "src/blocks/lists/allowances.html" %}</div>
        <div x-cloak x-show="resource == 'tokens'">{% include "src/blocks/lists/tokens.html" %}</div>

        <div x-show="!depleted[resourceFilter] && $data[resourceFilter].length % 25 == 0" class="pt-6 flex justify-center text-sm">
            <span @click="load(resource)" class="cursor-pointer underline w-full text-center text-sm text-gray-100 py-2 hover:bg-gray-900 rounded">Load more</span>
        </div>
    </div>    
</div>