<script>
function poolExplorer() {
    return {
        tab: 'transactionsIn',
        transactionsIn: [],
        transactionsOut: [],
        transactions: [], // Filtered transactions
        claims: [],
        transactionsFilter: 'in',
        claimsFilter: 'all',
        existing: [],
        address: gup('address'),
        depleted: {},
        init() {
            this.loadTransactions()
        },
        loadTransactions() {
            if (this.transactionsFilter == 'in') this.loadTransactionsIn()
            else if (this.transactionsFilter == 'out') this.loadTransactionsOut()
        },
        loadTransactionsOut() {
            this.transactions = this.transactionsOut
            if (this.depleted.transactionsOut) return
            var last = this.transactionsOut.length ? {signature: this.transactionsOut.slice(-1)[0].signature, created: this.transactionsOut.slice(-1)[0].created} : {}
    
            var self = this
            Xeta.transaction.scanByFrom({from: this.address, signature: last.signature, created: last.created, extended: true}).then(function(data) {
                if (!data.length) self.depleted.transactionsOut = true
                self.transactionsOut = self.transactionsOut.concat(data)
                self.transactions = self.transactionsOut
            }).catch(function(e) {})
        },
        loadTransactionsIn() {
            this.transactions = this.transactionsIn
            if (this.depleted.transactionsIn) return
            var last = this.transactionsIn.length ? {signature: this.transactionsIn.slice(-1)[0].signature, created: this.transactionsIn.slice(-1)[0].created} : {}
    
            var self = this
            Xeta.transaction.scanByTo({to: this.address, signature: last.signature, created: last.created, extended: true}).then(function(data) {
                if (!data.length) self.depleted.transactionsIn = true
                self.transactionsIn = self.transactionsIn.concat(data)
                self.transactions = self.transactionsIn
            }).catch(function(e) {})
        },
        loadClaims() {
            if (this.depleted.claims) return
            var last = this.claims.length ? {hash: this.claims.slice(-1)[0].hash, created: this.claims.slice(-1)[0].created} : {}
    
            var self = this
            Xeta.claim.scanByCreated({owner: this.address, hash: last.hash, created: last.created, extended: true}).then(function(data) {
                if (!data.length) self.depleted.claims = true
                self.claims = self.claims.concat(data)
            }).catch(function(e) {})
        },
    }
}
</script>

<div x-data="poolExplorer()">
    <div class="bg-black rounded-2xl px-2 pt-2 mb-2 text-sm font-light text-gray-200 section">
        <div class="flex flex-wrap">
            <div @click="tab = 'transactionsIn', loadTransactions()" :class="{'border-pink-700': tab == 'transactionsIn' || tab == 'transactionsOut'}" class="inline border-b-4 border-gray-900 hover:border-pink-700 px-4 py-2 cursor-pointer">Transactions</div>
            <div @click="tab = 'claims', loadClaims()" :class="{'border-pink-700': tab == 'claims'}" class="inline border-b-4 border-gray-900 hover:border-pink-700 px-4 py-2 cursor-pointer">Claims</div>
        </div>
    </div>

    <div x-cloak x-show="tab == 'transactionsIn' || tab == 'transationsOut'" class="bg-black rounded-2xl py-4 mb-4 lg:mb-12">
        <div class="flex justify-between items-center px-6">
            <p class="text-lg py-2 text-gray-100">Transactions</p>
            <div x-data="{active: false}" class="relative text-white text-sm">
                <span @click="active = !active" class="select-none cursor-pointer px-3 py-2 rounded-2xl text-gray-200 hover:bg-gray-800 bg-gray-900" x-text="{'in': 'Incoming', 'out': 'Outgoing'}[transactionsFilter]"></span>
                <div x-cloak x-show="active" @click.away="active = false" class="absolute right-0 origin-top-right mt-2 w-32 shadow-xl rounded z-50">
                    <ul class="list-none bg-gray-900 px-2 py-2 rounded-2xl">
                        <li @click="transactionsFilter = 'in', loadTransactions(), active = false" class="cursor-pointer py-1 rounded-2xl text-gray-200 hover:bg-gray-800 text-center">Incoming</li>
                        <li @click="transactionsFilter = 'out', loadTransactions(), active = false" class="cursor-pointer py-1 rounded-2xl text-gray-200 hover:bg-gray-800 text-center">Outgoing</li>
                    </ul>
                </div>
            </div>
        </div>

        {% set transactionsCollection = 'transactions' %}
        {% include "src/blocks/lists/transactions.html" %}

        <div x-show="(transactionsFilter == 'in' && !depleted.transactionsIn) || (transactionsFilter == 'out' && !depleted.transactionsOut)" class="pt-6 flex justify-center text-sm">
            <span @click="loadTransactions()" class="cursor-pointer underline w-full text-center text-sm text-gray-100 py-2 hover:bg-gray-900 rounded">Load more</span>
        </div>
    </div>

    <div x-cloak x-show="tab == 'claims'" class="bg-black rounded-2xl py-4 mb-4 lg:mb-12">
        <p class="text-lg py-2 px-6 text-gray-100">Claims</p>

        {% include "src/blocks/lists/claims.html" %}

        <div x-show="!depleted.claims" class="pt-6 flex justify-center text-sm">
            <span @click="loadClaims()" class="cursor-pointer underline w-full text-center text-sm text-gray-100 py-2 hover:bg-gray-900 rounded">Load more</span>
        </div>
    </div>
</div>