<script>
function poolExplorer() {
    return {
        tab: 'transfersIn',
        transfersIn: [],
        transfersOut: [],
        transfers: [], // Filtered transfers
        claims: [],
        transfersFilter: 'in', // in, out
        claimsFilter: 'issued', // issued, held
        existing: [],
        address: gup('address'),
        depleted: {},
        init() {
            this.loadTransfers()
        },
        loadTransfers() {
            if (this.transfersFilter == 'in') this.loadTransfersIn()
            else if (this.transfersFilter == 'out') this.loadTransfersOut()
        },
        // loadTransfersOut() {
        //     this.transfers = this.transfersOut
        //     if (this.depleted.transfersOut) return
        //     var last = this.transfersOut.length ? {hash: this.transfersOut.slice(-1)[0].hash, created: this.transfersOut.slice(-1)[0].created} : {}
    
        //     var self = this
        //     Xeta.transfer.scanFromCreated({from: this.address, created: last.created, hash: last.hash}, {preview: true}).then(function(data) {
        //         if (!data.length) self.depleted.transfersOut = true
        //         self.transfersOut = self.transfersOut.concat(data)
        //         self.transfers = self.transfersOut
        //     }).catch(function(e) {})
        // },
        // loadTransfersIn() {
        //     this.transfers = this.transfersIn
        //     if (this.depleted.transfersIn) return
        //     var last = this.transfersIn.length ? {hash: this.transfersIn.slice(-1)[0].hash, created: this.transfersIn.slice(-1)[0].created} : {}
    
        //     var self = this
        //     Xeta.transfer.scanToCreated({to: this.address, created: last.created, hash: last.hash}, {preview: true}).then(function(data) {
        //         if (!data.length) self.depleted.transfersIn = true
        //         self.transfersIn = self.transfersIn.concat(data)
        //         self.transfers = self.transfersIn
        //     }).catch(function(e) {})
        // },
        // loadClaims() {
        //     if (this.depleted.claims) return
        //     var last = this.claims.length ? {hash: this.claims.slice(-1)[0].hash, created: this.claims.slice(-1)[0].created} : {}
    
        //     var self = this
        //     Xeta.claim.scanIssuerCreated({issuer: this.address, created: last.created, hash: last.hash}, {preview: true}).then(function(data) {
        //         if (!data.length) self.depleted.claims = true
        //         self.claims = self.claims.concat(data)
        //     }).catch(function(e) {})
        // },
    }
}
</script>

<div x-data="poolExplorer">
    <div class="bg-black rounded-2xl px-2 pt-2 mb-2 text-sm font-light text-gray-200 section">
        <div class="flex flex-wrap">
            <div @click="tab = 'transfersIn', loadTransfers()" :class="{'border-pink-700': tab == 'transfersIn' || tab == 'transfersOut'}" class="inline border-b-4 border-gray-900 hover:border-pink-700 px-4 py-2 cursor-pointer">Transfers</div>
            <div @click="tab = 'claims', loadClaims()" :class="{'border-pink-700': tab == 'claims'}" class="inline border-b-4 border-gray-900 hover:border-pink-700 px-4 py-2 cursor-pointer">Claims</div>
        </div>
    </div>

    <div x-cloak x-show="tab == 'transfersIn' || tab == 'transationsOut'" class="bg-black rounded-2xl py-4 mb-4 lg:mb-12">
        <div class="flex justify-between items-center px-6">
            <p class="text-lg py-2 text-gray-100">Transactions</p>
            <div x-data="{active: false}" class="relative text-white text-sm">
                <span @click="active = !active" class="select-none cursor-pointer px-3 py-2 rounded-2xl text-gray-200 hover:bg-gray-800 bg-gray-900" x-text="{'in': 'Incoming', 'out': 'Outgoing'}[transfersFilter]"></span>
                <div x-cloak x-show="active" @click.away="active = false" class="absolute right-0 origin-top-right mt-2 w-32 shadow-xl rounded z-50">
                    <ul class="list-none bg-gray-900 px-2 py-2 rounded-2xl">
                        <li @click="transfersFilter = 'in', loadTransfers(), active = false" class="cursor-pointer py-1 rounded-2xl text-gray-200 hover:bg-gray-800 text-center">Incoming</li>
                        <li @click="transfersFilter = 'out', loadTransfers(), active = false" class="cursor-pointer py-1 rounded-2xl text-gray-200 hover:bg-gray-800 text-center">Outgoing</li>
                    </ul>
                </div>
            </div>
        </div>

        {% set transfersCollection = 'transfers' %}
        {% include "src/blocks/lists/transfers.html" %}

        <div x-show="(transfersFilter == 'in' && !depleted.transfersIn) || (transfersFilter == 'out' && !depleted.transfersOut)" class="pt-6 flex justify-center text-sm">
            <span @click="loadTransfers()" class="cursor-pointer underline w-full text-center text-sm text-gray-100 py-2 hover:bg-gray-900 rounded">Load more</span>
        </div>
    </div>

    <div x-cloak x-show="tab == 'claims'" class="bg-black rounded-2xl py-4 mb-4 lg:mb-12">
        <p class="text-lg py-2 px-6 text-gray-100">Claims</p>

        {% include "src/blocks/lists/claims.html" %}

        <div x-show="!depleted.claims" class="pt-6 flex justify-center text-sm">
            <span @click="loadClaims()" class="cursor-pointer underline w-full text-center text-sm text-gray-100 py-2 hover:bg-gray-900 rounded">Load more</span>
        </div>
    </div>
</div>