<script>
function tokenExplorer() {
    return {
        resource: 'transfers',
        transfers: [],
        balances: [],
        address: gup('address'),
        depleted: {},
        methods: {
            'transfers': Xeta.transfer.scanTokenCreated,
            'balances': Xeta.balance.scanTokenAmount,
        },
        inputs: {
            'transfers': 'token',
            'balances': 'token',
        },
        init() {
            this.load(this.resource)
        },
        load(resource) {
            this.resource = resource
            if (this.depleted[resource]) return
            var last = this[resource].length ? this[resource].slice(-1)[0] : {}
            
            var self = this
            var token = Alpine.store('token')

            this.methods[resource]({...last, ...{[this.inputs[resource]]: this.address}}, {preview: true}).then(function(data) {
                if (!data.length) self.depleted[resource] = true

                // Calculate percentages
                if (resource == 'balances' && token) data.forEach(function(d) {d.percentage = Big(d.amount).div(token.supply).mul(100).round(4).toString()})

                self[resource] = self[resource].concat(data)
            }).catch(function(e) {})
        },
    }
}
</script>

<div x-cloak x-show="$store.token && $store.token.supply" x-data="tokenExplorer">
    <div class="bg-black rounded-2xl px-2 pt-2 mb-2 text-sm font-light text-gray-200 section">
        <div class="flex flex-wrap">
            <template x-for="type in ['transfers', 'balances']">
                <div @click="load(type)" :class="{'border-pink-700': resource == type}" class="inline border-b-4 border-gray-900 hover:border-pink-700 px-4 py-2 cursor-pointer capitalize" x-text="type.replace('balances', 'holders')"></div>
            </template>
        </div>
    </div>

    <div class="bg-black rounded-2xl py-4 mb-4 lg:mb-12">
        <div class="flex justify-between items-center px-6">
            <p class="text-lg py-2 text-gray-100 capitalize" x-text="resource"></p>
        </div>

        <div x-cloak x-show="resource == 'transfers'">{% include "src/blocks/lists/transfers.html" %}</div>
        <div x-cloak x-show="resource == 'balances'">{% include "src/blocks/lists/balances.html" %}</div>

        <div x-show="!depleted[resource] && $data[resource].length % 25 == 0" class="pt-6 flex justify-center text-sm">
            <span @click="load(resource)" class="cursor-pointer underline w-full text-center text-sm text-gray-100 py-2 hover:bg-gray-900 rounded">Load more</span>
        </div>
    </div>    
</div>