{% extends "src/wrappers/main.html" %}

{% block title %}NFTs{% endblock %}
{% block description %}{% endblock %}

{% block content %}
{% include "src/blocks/global/header.html" %}
<script>
function nftsPage() {
    return {
        pools: {
            expiring: [],
            bids: [],
            transfers: [],
            recent: [],
        },
        depleted: {},
        loading: {},
        init() {
            this.load('expiring')
            this.load('bids')
            this.load('transfers')
            this.load('recent')
        },
        load(type) {
            if (this.loading[type] || this.depleted[type] || this.pools[type].length % 10 != 0) return

            this.loading[type] = true
            var last = this.pools[type] ? this.pools[type].slice(-1)[0] : null
            var self = this

            var fn = 'scanProgram'+{expiring: 'Expires', bids: 'XetaBalance', transfers: 'TransfersCount', recent: 'Created'}[type]
            Xeta.pool[fn]({...(last ? last : {}), ...{program: 'auction'}}, {limit: 10, preview: true}).then(function(data) {
                if (!data.length) self.depleted[type] = true
                self.pools[type] = self.pools[type].concat(data)
                self.loading[type] = false
            }).catch(function(e) {
                self.loading[type] = false
            })
        }
    }
}
</script>

<div x-data="nftsPage">
    <template x-for="type in ['expiring', 'bids', 'transfers', 'recent']">
        <div class="bg-black rounded-2xl px-6 py-4 mb-4 lg:mb-12 section">
            <p class="text-2xl font-medium py-2 text-white w-full mb-2" x-text="{expiring: 'Expiring Soon', bids: 'Highest Bids', transfers: 'Most Popular', recent: 'Recently Added'}[type]"></p>
            <div @scroll.debounce="$el.scrollLeft > 0.35*$el.clientWidth ? load(type) : null" class="flex overflow-x-scroll disable-scrollbar">
                <div class="flex flex-nowrap">
                    <template x-for="pool in pools[type]">
                        <div class="w-48 inline-block">
                            <div class="mx-1.5">
                                <a :href="'/pool/?address='+pool.address" class="block rounded-2xl bg-gray-900 bg-opacity-50 shadow hover:bg-opacity-100 transition-all">
                                    <div class="rounded-2xl rounded-b-none overflow-hidden">
                                        <img class="h-32 w-full mb-2 object-center object-cover" :src="pool.tokenPreview && pool.tokenPreview.preview ? pool.tokenPreview.preview : Constants.pixel" onerror="this.src = Constants.pixel">
                                    </div>
                                    <div class="px-3 py-3">
                                        <p class="text-sm text-white py-0.5 text-center tracking-wider" x-text="pool.name ? pool.name : pool.tokenPreview.name"></p>
                                        <p class="text-xs text-gray-200 py-0.5 text-center truncate" x-html="Wrap.xeta(pool.xetaBalance)"></p>
                                        <p class="text-xs text-gray-200 py-0.5 text-center truncate" x-text="formatNumber(pool.transfersCount, 0)+' Bids'"></p>
                                        <p class="text-xs text-gray-200 py-0.5 text-center truncate" x-text="'Expires '+formatTime(pool.expires)"></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </template>
</div>
{% endblock %}