<script>
function poolPreview() {
    return {
        init() {
            // Xeta.pool.instance({address: gup('address')}, {preview: true}).then(function(data) {
            //     Alpine.store('pool', data.pool) // Raw pool
            //     Alpine.store(data.pool.program, data) // Instance

            //     if (data.pool.expires) setInterval(function() {
            //         Alpine.store('pool').timer = timer(Alpine.store('pool').expires)
            //     }, 1000)
            // })
            document.addEventListener('resourceLoaded', function (e) {
                if (Alpine.store('pool').expires) setInterval(function() {
                    Alpine.store('pool').timer = timer(Alpine.store('pool').expires)
                }, 1000)
            })
        }
    }
}
</script>

<div x-data="poolPreview">
{% include "src/blocks/pools/auction.html" %}
{% include "src/blocks/pools/launch.html" %}
{% include "src/blocks/pools/lending.html" %}
{% include "src/blocks/pools/lock.html" %}
{% include "src/blocks/pools/loot.html" %}
{% include "src/blocks/pools/lottery.html" %}
{% include "src/blocks/pools/royalty.html" %}
{% include "src/blocks/pools/staking.html" %}
{% include "src/blocks/pools/swap.html" %}
{% include "src/blocks/pools/vote.html" %}
</div>