<script>
function poolPreview() {
    return {
        init() {
            var self = this
            document.addEventListener('resourceLoaded', function (e) {
                self.status()
                if (Alpine.store('pool').expires) setInterval(function() {
                    Alpine.store('pool').timer = timer(Alpine.store('pool').expires)
                }, 1000)
            })
        },
        status() {
            var pool = Alpine.store('pool')
            var closed = pool.closed
            var expired = pool.expires && pool.expires < Date.now()
            var overXetaLimit = pool.xetaLimit && pool.xetaBalance && parseFloat(pool.xetaBalance) >= parseFloat(pool.xetaLimit)
            var overTokenLimit = pool.tokenLimit && pool.tokenBalance && parseFloat(pool.tokenBalance) >= parseFloat(pool.tokenLimit)
            var overTransfersLimit = pool.transfersLimit && pool.transfersCount && pool.transfersCount >= pool.transfersLimit
            this.open = !closed && !expired && !overXetaLimit && !overTokenLimit && !overTransfersLimit
        },
        open: true,
    }
}
</script>

<div x-data="poolPreview">
    {% include "src/blocks/pools/auction.html" %}
    {% include "src/blocks/pools/launch.html" %}
    {% include "src/blocks/pools/lending.html" %}
    {% include "src/blocks/pools/lock.html" %}
    {% include "src/blocks/pools/loot.html" %}
    {% include "src/blocks/pools/lottery.html" %}
    {% include "src/blocks/pools/royalty.html" %}
    {% include "src/blocks/pools/staking.html" %}
    {% include "src/blocks/pools/swap.html" %}
    {% include "src/blocks/pools/vote.html" %}
</div>